// Código para la parte de physical constraints en la FPGA del código top.v
// Autor: Jesús Osvaldo Yáñez Mancilla, fecha: 21/05/2026
IO_LOC "pwm_k" 26;
IO_PORT "pwm_k" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "pwm_j" 27;
IO_PORT "pwm_j" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "motors[3]" 28;
IO_PORT "motors[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "motors[2]" 29;
IO_PORT "motors[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "motors[1]" 30;
IO_PORT "motors[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "motors[0]" 33;
IO_PORT "motors[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rx" 25;
IO_PORT "rx" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
